NODE_ENV=development
AWS_REGION=us-east-1
TABLE_NAME=navelite
DYNAMO_ENDPOINT=http://127.0.0.1:8000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
WEBHOOK_SECRET=
MERCHANT_SECRET=
MERCHANT_WEBHOOK_URL=
CORS_ORIGINS=
PUBLIC_WEB_URL=